<a href="https://colab.research.google.com/github/ArvindDs/Projects/blob/main/Experiments_with_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Explaination of pyramid**

---

In [ ]:

for i in range(1,6):  # it means that range is (1,6).i.e 1,2,3,4,5 i.e. start from 1 and end  at 6-1=5
  print(i)

1
2
3
4
5

In [ ]:
for i in range(1,6):  # it means that range is (1,6).i.e 1,2,3,4,5 
  print('$')           # it means that start from 1=$ , 2=$ etc

$
$
$
$
$

In [ ]:
for i in range(1,6):  # it means that range is (1,6).i.e 1,2,3,4,5 
  print('$')
  for j in range(1,i+1):
    print('*')

$
*
$
*
*
$
*
*
*
$
*
*
*
*
$
*
*
*
*
*

In [ ]:
for i in range(1,6):  # it means that range is (1,6).i.e 1,2,3,4,5 
 
  for j in range(1,i+1):
    print('*')

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [ ]:
for i in range(1,6):  # it means that range is (1,6).i.e 1,2,3,4,5 
 
  for j in range(1,i+1):
    print('*',end='')

***************

In [ ]:
for i in range(1,6):  # it means that range is (1,6).i.e 1,2,3,4,5 
 
  for j in range(1,i+1):
    print('*',end='')
  print('')

*
**
***
****
*****

In [ ]:
for i in range(1,6):  # it means that range is (1,6).i.e 1,2,3,4,5 
 
  for j in range(1,i+1):
    print('*',end='')
  print('&')

*&
**&
***&
****&
*****&

In [ ]:
for i in range(1,6):  # it means that range is (1,6).i.e 1,2,3,4,5 
  print('$')
  for j in range(1,i+1):
    print('*',end='')

$
*$
**$
***$
****$
*****

In [ ]:
for i in range(1,6):  # it means that range is (1,6).i.e 1,2,3,4,5 
  print('*')
  for j in range(1,i+1):
    print('*',end='')
print('')

*
**
***
****
*****
*****

In [ ]:
row=5
for i in range(1,row+1):
  print('*')
  for j in range(1,i+1):
    print('*',end='')

*
**
***
****
*****
*****

In [ ]:
row=5
for i in range(1,row+1):
  
  for j in range(1,i+1):
    print('*',end='')

***************

In [ ]:
row=5
for i in range(1,row+1):
  for j in range(1,i+1):
    print('*',end='')
  print('')

*
**
***
****
*****

In [ ]:
for i in range(1,6):  # it means that range is (1,6).i.e 1,2,3,4,5 
  
  for j in range(1,i+1):
    print('*',end='')
  print('')

*
**
***
****
*****

In [ ]:
rows = 5
# outer loop
for i in range(1, 6):
    # inner loop
    for j in range(1, i + 1):
        print("*", end="")
    print('')

*
**
***
****
*****

In [ ]:
for i in reversed(range(1,6)):
  print(i)

5
4
3
2
1

In [ ]:
for i in reversed(range(1,6)):
  for j in range(1,i+1):
    print('&',end='')
  print('')

&&&&&
&&&&
&&&
&&
&

In [ ]:
for i in reversed(range(1,6)):
  for j in range(1,i+1):
    for k in reversed(range(1,j+1)):
      print('&',end='')
    print('')

&
&&
&&&
&&&&
&&&&&
&
&&
&&&
&&&&
&
&&
&&&
&
&&
&

In [ ]:
b=[10,13,14,5]
a=reversed(b)
print(a)

<list_reverseiterator object at 0x7fa06fef59d0>

In [ ]:
# write a multiplication Table
# outer loop
for i in range(1, 11):
    # nested loop
    # to iterate from 1 to 10
    for j in range(1, 11):
        # print multiplication
        print(i * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
# find average of numbers
numbers = [10, 20, 30, 40, 50]

# definite iteration
# run loop 5 times because list contains 5 items
sum = 0
for i in numbers:
    sum = sum + i
list_size = len(numbers)
average = sum / list_size
print(average)

30.0

In [ ]:
#Print all even and odd numbers
for i in range(1, 11):
    if i % 2 == 0:
        print('Even Number:', i)
    else:
        print('Odd Number:', i)

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

In [ ]:
#Example: Print Multiplication table of a first 5 numbers using for loop and while loop
# outer loop
for i in range(1, 6):
    print('Multiplication table of:', i) 
    count = 1
                                        # inner loop to print multiplication table of current number i.e. first for 1 then current number will be 2 etc.
    while count < 11:                   # after taking the value i=1 the count will move inside while loop till it attended its condition count<11 it stops. 
                                        # then it will take value i=2 and will  move inside.
        print(i * count, end=' ')       #we have a  count having value 1 to 10 and it iterates  10 times and the value  of i is changing from 1 to  5 in each iteration.
                                        # let for i=1 first iteration give output 1*1 =1 at this place and moves to next line of operation
        count = count + 1               # at this point count becomes 1+1=2 it prints 2  as output.things will go on till count 
                                        # will attend the value 10. at this point count=11 and the things will stop as the condition is count<11
    print('\n')                         # start with new line

Multiplication table of: 1
1 2 3 4 5 6 7 8 9 10

Multiplication table of: 2
2 4 6 8 10 12 14 16 18 20

Multiplication table of: 3
3 6 9 12 15 18 21 24 27 30

Multiplication table of: 4
4 8 12 16 20 24 28 32 36 40

Multiplication table of: 5
5 10 15 20 25 30 35 40 45 50

In [ ]:
for i in range (1,6):
  for j  in range (1,6):
    print(i*j,end=',')
  print('multiplication table of:',i)

1,2,3,4,5,multiplication table of: 1
2,4,6,8,10,multiplication table of: 2
3,6,9,12,15,multiplication table of: 3
4,8,12,16,20,multiplication table of: 4
5,10,15,20,25,multiplication table of: 5

In [ ]:
for i in range (1,6):
  for j  in range (1,i+1):
    print('*',end='####')
  print('@@@@@',55555,'&&&&')

*####@@@@@ 55555 &&&&
*####*####@@@@@ 55555 &&&&
*####*####*####@@@@@ 55555 &&&&
*####*####*####*####@@@@@ 55555 &&&&
*####*####*####*####*####@@@@@ 55555 &&&&

In [ ]:
# find average of numbers
numbers = [10, 20, 30, 40, 50]

# definite iteration
# run loop 5 times because list contains 5 items
sum = 0
for i in numbers:
    sum = sum + i
list_size = len(numbers)
average = sum / list_size
print(average)

30.0

In [ ]:
numbers=[12,13,15,17]
sum=0
for i in numbers:
  sum=sum+i # we took for first iteration sum=12 then sum=12+13,then sum=25+15 and so on
  a=len(numbers)   # mean count of numbers is 4
  b=sum/a
  print( b) # it will give avearge of each iteration as we want output inside the loop b=12/4 then 25/4 etc

3.0
6.25
10.0
14.25

In [ ]:
numbers=[12,13,15,17]
sum=0
for i in numbers:
  sum=sum+i # we took for first iteration sum=12 then sum=12+13,then sum=25+15 and so on
  a=len(numbers)   # mean count of numbers is 4
  b=sum/a
print( b) # it will give avearge of all iteration as we want output outside the loop b=57/4

14.25

In [ ]:
for i in range(1, 6):
    print('Multiplication table of:', i) 
    count = 1
    # inner loop to print multiplication table of current number
    while count < 11:
        print(i * count, end=' ')
        count = count + 1
    print('\n')       # start with new line

Multiplication table of: 1
1 2 3 4 5 6 7 8 9 10

Multiplication table of: 2
2 4 6 8 10 12 14 16 18 20

Multiplication table of: 3
3 6 9 12 15 18 21 24 27 30

Multiplication table of: 4
4 8 12 16 20 24 28 32 36 40

Multiplication table of: 5
5 10 15 20 25 30 35 40 45 50

In [ ]:
 # Example: Print numbers less than 5
 count=1
 while count<5:
   print(count)
   count=count+1

1
2
3
4

In [ ]:
# Example 2: Check how many times a given number can be divided by 3 before it is less than or equal to 10.
count = 0
number = 180  # you have to divide 180 by 3 then 60 by 3 then 20 by 3 after it is 6.6 which is less than 10 so 3 iteratiobns
while number > 10: # it means that number >10 are divided by 3 is our mandate.
    # divide number by 3
    number = number / 3  # this is the condition
    # increase count
    count = count + 1  # number of iteration will be counted by this formula as the loop will run till the condition number>10 becomes false.
print('Total iteration required', count)

Total iteration required 3

In [ ]:
#Example 1: Assure proper input from user
#In this example, we want a user to enter any number 
#between 100 and 500. We will keep asking the user to 
#enter a correct input until he/she enters the number within a given range.

number= int(input( 'any number between 100 and 500:'))

if number >=100 and number <=500:
  print('correct')
else:
  print('incorrect')

any number between 100 and 500:500
correct

In [ ]:
number = int(input('Enter any number between 100 and 500 '))
# number greater than 100 and less than 500
while number < 100 or number > 500:
    print('Incorrect number, Please enter correct number:')
    number = int(input('Enter a Number between 100 and 500 '))
else:
    print("Given Number is correct", number)

Enter any number between 100 and 500 450
Given Number is correct 450

In [ ]:
while number>100  or number>500:
  print('number is correct:',number)
  number= int(input( 'any number between 100 and 500:'))
else:
    print('number is incorrect:',number)

number is correct: 800
any number between 100 and 500:700
number is correct: 700

KeyboardInterrupt: ignored