<a href="https://colab.research.google.com/github/ArvindDs/Projects/blob/main/Practice_Tuple_List_Set_Dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuples  Immutable**

In [ ]:
A_tuple = ('Bombay','Arvind Joshi',1.54,3,True)
type(A_tuple)
# contains string,float,int and Boolean

tuple

In [ ]:
A_tuple[1]
Note that squae brackets indicate index

'Arvind Joshi'

In [ ]:
A_tuple[1:4]

('Arvind Joshi', 1.54, 3)

In [ ]:
A_tuple[1:4][0][2]
#here we  have taken index 1 to 3 and then again indexing the 1 iis now at 0 index and then again indexing 0 index here 2nd index is v

'v'

In [ ]:
tuple_add= (1,'p', 3)
tuple3= tuple_add + A_tuple
tuple3
# See here it is now new tuple unlike dict and lists

(1, 'p', 3, 'Bombay', 'Arvind Joshi', 1.54, 3, True)

In [ ]:
tuple3[1] = 5
tuple3
# Tuples  are Immutable Error shows  that you can not change element at index 1 i.e.p to 5 and then getting the  same name tuple

TypeError: ignored

In [ ]:
len(tuple_add)

3

In [ ]:
# Nesting
tuple1= ((1,'p', 3),'Bombay','Arvind Joshi',1.54,3,True )

In [ ]:
tuple1[2]
tuple1[2][1]

'r'

# **LISTS              Mutable and orderd slicing indexing same as tuple**

In [ ]:
L= [(1,'p', 3),'Bombay','Arvind Joshi',1.54,3,True]
# Lists  are  mutable i.e. while tuples are immutable but we have here changed the index 2 element and got the same lisit 'L'
L[2]= 'oxygen'
L

[(1, 'p', 3), 'Bombay', 'oxygen', 1.54, 3, True]

In [ ]:
# Since it is mutable so we can do  extend and append operatoins
L.extend(['pop',5])
L

[(1, 'p', 3), 'Bombay', 'oxygen', 1.54, 3, True, 'pop', 5]

In [ ]:
# Lists  are  mutable i.e. while tuples are immutable but we have here changed the index 2 element and got the same lisit 'L'
L.append(['pop',4])
L

[(1, 'p', 3), 'Bombay', 'oxygen', 1.54, 3, True, 'pop', 5, ['pop', 4]]

In [ ]:
del(L[3])
L

In [ ]:
 
('A,B,C,D').split(',')

['A', 'B', 'C', 'D']

In [ ]:
'Arvind,Joshi'.split(',')

['Arvind', 'Joshi']

In [ ]:
# Aliasing: Land L2  are same
L= [(1,'p', 3),'Bombay','Arvind Joshi',1.54,3,True]
L2= [(1,'p', 3),'Bombay','Arvind Joshi',1.54,3,True]
L2
# Now if
L2[0]=9
L2

[9, 'Bombay', 'Arvind Joshi', 1.54, 3, True]

In [ ]:
#  And L will also be with same change though we have not changed L
L

[(1, 'p', 3), 'Bombay', 'Arvind Joshi', 1.54, 3, True]

In [ ]:
# CLONING of L in lists
B=L[:]
B

[(1, 'p', 3), 'Bombay', 'Arvind Joshi', 1.54, 3, True]

#  SET not ordered BUT MUTABLE

# A set is a unique collection of objects in Python. You can denote a set with a curly bracket {}. Python will automatically remove duplicate items

In [ ]:
# Set is not Subscriptable like Dict ,tuples, lists
#The [...] indexing syntax is called a subscript, because it's equivalent to mathematical notation
 that uses actual subscripts; e.g. a[1] is Python for what mathematicians would write as a‚ÇÅ.
 So "subscriptable" means "able to be subscripted". 

S = {(1,'p', 3),'Bombay','Arvind Joshi',1.54,3,True}
S[0:4]

TypeError: ignored

In [ ]:
L = [(1,'p', 3),'Bombay','Arvind Joshi',1.54,3,True,1.54]
## Convert List to Set
S= set(L)
S

{(1, 'p', 3), 1.54, 3, 'Arvind Joshi', 'Bombay', True}

In [ ]:
# Add element to set

S.add("NSYNC")
S

{(1, 'p', 3), 1.54, 3, 'Arvind Joshi', 'Bombay', 'NSYNC', True}

If we add the same element twice, nothing will happen as there can be no duplicates in a set:

In [ ]:
# again Add same element to set
S.add("NSYNC")
S

{(1, 'p', 3), 1.54, 3, 'Arvind Joshi', 'Bombay', 'NSYNC', True}

We can remove an item from a set using the remove method: as in list we use del because list is mutable but we can not use this operation in  tuple as they are immutable

In [ ]:
S.remove(3)
S

{(1, 'p', 3), 1.54, 'Arvind Joshi', 'Bombay', 'NSYNC', True}

# Sets Logic Operations

difference, intersection, and union:

In [ ]:
# Sample Sets

album1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

## **union**

In [ ]:
album1.union(album2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

# Intersection

In [ ]:
album1.intersection(album2)

{'AC/DC', 'Back in Black'}

## **difference**

In [ ]:
album1.difference(album2)

{'Thriller'}

In [ ]:
# Check if superset

set(album1).issuperset(album2)

False

In [ ]:
# Check if subset

set(album2).issubset(album1)

False

## **DICTIONARY**  Mutable hai

In [ ]:
# Create a sample dictionary

movies_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
movies_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982'}

In [ ]:
movies_dict["Thriller"]

'1982'

In [ ]:
movies_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [ ]:
movies_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [ ]:
# Append value with key into dictionary
movies_dict['arvind'] = '2007'
movies_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982',
 'arvind': '2007'}

In [ ]:
# Delete entries by key

del(movies_dict["arvind"])
movies_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982'}

In [ ]:
del(movies_dict["The Dark Side of the Moon"])

In [ ]:
movies_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982'}

In [ ]:
# Verify the key is in the dictionary

'Rumours' in movies_dict

True

In [ ]:
del(movies_dict["Rumours"])
movies_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982'}

# **Condition Statements**
# Comparison Operators
Comparison operations compare some value or operand and, based on a condition, they produce a Boolean. When comparing two values you can use these operators:

equal: ==

not equal: !=

greater than: >

less than: <

greater than or equal to: >=

less than or equal to: <=

Let's assign a a value of 5. Use the equality operator denoted with two equal

 == signs to determine if two values are equal. The case below compares the variable a with 6.